<div class="card">
    <div class="card-image content-align-bottom" ng-attr-style="background-image: url('{{::image}}');">
        <p class="align-center">{{::category}} &gt;&gt;</p>
    </div>
    <h1 class="card-title">{{::title}}</h1>
    <div class="card-body">
        <span>Languages: {{::languages}}</span> | <span>Level {{::level}}</span>
    </div>
    <div class="card-footer row">
        <span class="card-footer-likes fill align-center"><i class="fa fa-heart"></i> {{::likes}}</span>
        <span class="card-footer-views fill align-center"><i class="fa fa-eye"></i> {{::views}}</span>
    </div>
</div>